C 0 0 "SCLK" 0 0 0 0 60 0 L
X "PIN_TEXT" "SCLK" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GND" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CSB" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CSB" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NC" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NC" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 1300 0 "VDD" 1300 0 0 0 60 0 R
X "PIN_TEXT" "VDD" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "PS" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "PS" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "SDI/SDA" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "SDI/SDA" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "SDO" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "SDO" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
L 200 100 1100 100 -1 0
L 1100 -400 1100 100 -1 0
L 1100 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

